<div class="form-group">
  <%= f.input :name, label: "Agency Name", required: true, class: "form-control" %>
</div>

<%= f.fields_for :profile, profile do |pf| %>
  <div class="form-group">
    <%= pf.input :agency_type, collection: Partner::AGENCY_TYPES.values, label: "Agency Type",  class: "form-control", wrapper: :input_group %>
  </div>

  <div class="form-group">
    <%= pf.input :other_agency_type, label: "Other Agency Type", class: "form-control" %>
  </div>

  <div class="form-group row">
    <label class="control-label col-md-3">501(c)(3) IRS Determination Letter</label>
    <% if profile.proof_of_partner_status.persisted? %>
      <div class="col-md-8">
        Attached file: <%= link_to profile.proof_of_partner_status.blob['filename'], rails_blob_path(profile.proof_of_partner_status), class: "font-weight-bold" %>
        <%= pf.file_field :proof_of_partner_status, class: "form-control-file" %>
      </div>
    <% else %>
      <div class="col-md-8">

        <%# TODO: 4472 styling of the dont worry message %>
        <%# TODO: 4472 will need this for all profile attachments %>
        <%# TODO: 4472 how will this work with has_many_attached because that needs a hidden field for a different reason %>
        <%# If it's not persisted but attached, it means user attempted an upload but ran into other form validation issues %>
        <%# Let's show the user that we still have the attempt in memory (because actual blob has already been persisted due to direct upload) %>
        <% if profile.proof_of_partner_status.attached? %>
          <%= pf.hidden_field :proof_of_partner_status, value: profile.proof_of_partner_status.signed_id %>
          Don't worry we haven't lost your upload of <span class="font-mono"><%= profile.proof_of_partner_status.blob.filename %></span>, you don't need to to upload it again
        <% end %>

        <div class="col-md-8">
        <%= pf.file_field :proof_of_partner_status, direct_upload: true, class: "form-control-file" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= pf.input :agency_mission, as: :text, label: "Agency Mission", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= pf.input :address1, label: "Address (line 1)", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= pf.input :address2, label: "Address (line 2)", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= pf.input :city, label: "City", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= pf.input :state, label: "State", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= pf.input :zip_code, label: "Zip Code", class: "form-control" %>
  </div>
<% end %>
